@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.google-icon {
  background: linear-gradient(
    143deg,
    rgba(255, 61, 0, 0.1) 14.12%,
    rgba(255, 193, 7, 0.1) 36.18%,
    rgba(76, 175, 80, 0.1) 54.82%,
    rgba(25, 118, 210, 0.1) 87.16%
  );
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  border-radius: 12px !important;
  border: 2px solid #e4e7eb !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7:focus {
  outline: none;
  border-color: #f2b705 !important;
}
.btn-gradient {
  background: radial-gradient(
      143.58% 143.58% at 0% 0%,
      #ffd24c 0%,
      #f2b705 100%
    ),
    var(--Primary, #f2b705);
}
